{% extends 'base.html' %}

{% block title %}Mot de passe mis à jour - AutoMarket{% endblock %}
{% block main_class %}container py-4{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="am-card p-4 p-md-5 text-center">
      <h1 class="h4 mb-2">Mot de passe mis à jour</h1>
      <p class="am-muted mb-4">Vous pouvez maintenant vous connecter avec votre nouveau mot de passe.</p>
      <a class="btn btn-primary" href="{% url 'connexion' %}">Se connecter</a>
    </div>
  </div>
</div>
{% endblock %}

